code {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
}

pre {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    padding: 0 1em;
}

pre code {
    background: transparent;
    border: 0 none;
    display: block;
    line-height: 1.4;
    margin: 0;
    overflow-x: auto;
    padding: 1.1111em 0;
}
