@import 'variables';

.grid-page-gallery {
    display: grid;
    gap: 2em 2em;
    justify-content: center;
    padding: 40px;
}

.grid-page-gallery h1 {
    grid-column: span 3;
    justify-self: center;
}

.image-style {
    border: 1px solid #000;
    border-radius: 4px;
}

.image-report-style {
    width: 50%;
}

.gallery-box {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .grid-page-gallery h1 {
        grid-column: span 1;
    }

    .grid-page h1 {
        grid-column: span 1;
    }

    .side-bar {
        display: none;
    }

}
