@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'technology';
@import 'gallery';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $background-color;

}

h1 {
    text-align: center;
}

.intro-heading {
    display: flex;
    font-size: 80px;
}

.intro-heading {
    white-space: pre-line;
}

.intro-background-homepage {
    color: $font-alternative-color;
    background-color: $intro-design-hierarki-background;
    padding: 20px;
    margin: 15px;
}

.raise {
    background-color: $box-colours;
    border: none;
    color: $font-alternative-color;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: red;
}


a:hover {
    color: $font-alternative-color;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.main {
    min-height: 100vh;
    padding: 20px;
    position: relative;
}


.nav ul,
.nav li {
    background-color: $nav-color;
}

.navmeny a {
    color: $font-alternative-color;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: $card-design;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 16px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.card-img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.navmeny a:hover {
    color: $nav-hover;
}

.index-page {
    background-color: $box-colours;
    border-radius: $grid-padding;
    color: $font-alternative-color;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

.index-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    background-color: $background-color;
    height: $hr-height;
    width: $hr-width;
}

.box-containers {
    align-items: center;
    display: flex;
    flex-direction: column;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.loading-data-sheet {
    height: 300px;
    width: 100%;
}

.footer {
    background-color: $nav-color;
    border-top: 11px solid $background-color;
    color: $font-alternative-color;
    display: flex;
    height: $footer-height;
    justify-content: center;
    width: 100%;

}

.footer a {
    padding: 20px;
}

.footer i {
    background-color: $nav-color;
}

.footer i:hover {
    color: $nav-hover;
}

.social {
    background-color: $nav-color;
    display: flex;
}

.logo img {
    border-radius: 50%;
    width: 10%;
}

.site-header {
    display: flex;
}

.footer a {
    color: #222;
}

.footer i {
    font-size: $symbolsize;
    padding: $symbolpadding;
}

* {
    background-color: $background-alternative-color;
    color: $font-color;
}