@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'technology';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $all-body-dark;

}


.main {
    min-height: 100vh;
    padding: 20px;
    position: relative;
}

h1 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}


.nav ul,
.nav li {
    background-color: $dark-nav;
}

.navmeny a {
    color: $font-alternative-color;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
}

.navmeny a:hover {
    color: $nav-hover;
}

.nav a {
    color: $font-alternative-color;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 1em 0;

}

.nav ul li {
    padding: 0 1em;
}


.nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

.intro-heading {
    display: flex;
    font-size: 80px;
}

.intro-heading {
    white-space: pre-line;
}

.intro-background-homepage {
    color: $font-alternative-color;
    background-color: $intro-design-hierarki-background;
    padding: 20px;
    margin: 15px;
}

.raise {
    background-color: $dark-outline;
    border: none;
    color: $font-alternative-color;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: red;
}

.box {
    background-color: $background-dark-container;
}

.box-containers {
    align-items: center;
    display: flex;
    flex-direction: column;
}

a:hover {
    color: $font-alternative-color;
}

.side-bar {
    background-color: $background-dark-container;
}


.index-page {
    background-color: $background-dark-container;
    border-radius: $grid-padding;
    color: $font-alternative-color;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

.index-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: $card-design;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-text {
    font-size: 14px;
    color: $font-alternative-color;
    margin-bottom: 16px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.card-img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.navmeny a:hover {
    color: $nav-hover;
}

.index-page {
    background-color: $box-colours;
    border-radius: $grid-padding;
    color: $font-alternative-color;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

.index-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    background-color: $background-color;
    height: $hr-height;
    width: $hr-width;
}

.grid-page-gallery {
    display: grid;
    gap: 2em 2em;
    justify-content: center;
    padding: 40px;
}

.grid-page-gallery h1 {
    grid-column: span 3;
    justify-self: center;
}

.image-style {
    border: 1px solid #000;
    border-radius: 4px;
    filter: grayscale(100%);
}

.gallery-box {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: $dark-nav;
    border-top: 11px solid $dark-outline;
    color: $font-alternative-color;
    display: flex;
    height: $footer-height;
    justify-content: center;
    width: 100%;

}

.footer a {
    padding: 20px;
}

.footer i {
    background-color: $dark-nav;
}

.footer i:hover {
    color: $nav-hover;
}

.social {
    background-color: $dark-nav;
    display: flex;
}

.logo img {
    border-radius: 50%;
    width: 10%;
}


.site-header {
    display: flex;
}

.footer a {
    color: #222;
}

.footer i {
    font-size: $symbolsize;
    padding: $symbolpadding;
}

.image-report-style {
    width: 50%;
}

.loading-data-sheet {
    height: 300px;
    width: 100%;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .grid-page-gallery h1 {
        grid-column: span 1;
    }

    .grid-page h1 {
        grid-column: span 1;
    }

    .side-bar {
        display: none;
    }

}



* {
    color: $font-alternative-color;
}