@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'technology';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #121529;

}


.main {
    padding: 20px;
    position: relative;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}


.nav ul,
.nav li {
    background-color: $dark-nav;
}

.navmeny a {
    color: $font-alternative-color;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
}

.navmeny a:hover {
    color: $nav-hover;
}

.nav a {
    color: $font-alternative-color;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}


.nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

.box {
    background-color: $background-dark-container;
}
.side-bar{
    background-color: $background-dark-container;
}


.index-page {
    background-color: $background-dark-container;
    border-radius: $grid-padding;
    color: $font-alternative-color;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

.index-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

hr {
    background-color: $background-color;
    width: $hr-width;
    height: $hr-height;
}

.footer {
    border-top: 11px solid $dark-outline;
    color: $font-alternative-color;
    display: flex;
    height: $footer-height;
    justify-content: center;
    width: 100%;
    background-color: $dark-nav;
}

.footer a {
    padding: 20px;
}

.footer i {
    background-color: $dark-nav;
}

.footer i:hover {
    color: $nav-hover;
}

.social {
    display: flex;
    background-color: $dark-nav;
}

.logo img {
    border-radius: 50%;
    width: 10%;
}

.site-header {
    display: flex;
}

.footer a {
    color: #222;
}

.footer i {
    font-size: $symbolsize;
    padding: $symbolpadding;
}



* {
    color: $font-alternative-color;
}