@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'technology';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $background-color;
}



* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.main {
    padding: 20px;
}

.nav ul,
.nav li {
    background-color: $nav-color;
}

.navmeny a {
    color: $font-alternative-color;
    font-size: 15px;
    font-weight: bold;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
}

.navmeny a:hover {
    color: $nav-hover;
}

.footer {
    border-top: 11px solid #222;
    bottom: 0;
    color: $font-alternative-color;
    display: flex;
    height: $footer-height;
    justify-content: space-between;
    position: absolute;
    width: 100%;


}

.logo img {
    border-radius: 50%;
    width: 10%;
}

.site-header {
    display: flex;
}

.footer a {
    color: #222;
}

.footer i {
    font-size: $symbolsize;
    padding: $symbolpadding;
}

* {
    background-color: $background-alternative-color;
    color: $font-color;
}
