@import 'variables';

.grid-page {
    display: grid;
    gap: 2em 2em;
    justify-content: center;
}

.grid-page h1 {
    grid-column: span 2;
    justify-self: center;
}


.landingpage {
    align-items: center;
    display: grid;
    gap: 40px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.box {
    background-color: $box-colours;
    border-radius: $grid-padding;
    color: $font-alternative-color;
    margin: $grid-padding;
    padding: $grid-padding;
    width: 350px;
}

.side-bar {
    background-color: $box-colours;
    border-radius: $grid-padding;
    color: $font-alternative-color;
    display: flex;
    flex-direction: column;
    margin: $grid-padding;
    padding: $grid-padding;
    width: 200px;
}

.side-bar a {
    margin: 10px;
    text-decoration: none;
}

.side-bar a:hover {
    color: $nav-hover;
}

@media only screen and (max-width: 800px) {
    .landingpage h1 {
        grid-column: span 1;
    }

    .grid-page h1 {
        grid-column: span 1;
    }

    .side-bar {
        display: none;
    }

}
