.grid-page {
    display: grid;
    gap: 2em 2em;
    justify-content: center;
}

.grid-page h1 {
    grid-column: span 2;
    justify-self: center;
}

.landingpage {
    display: grid;
    gap: 2em 2em;
    justify-content: center;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.box {
    margin: $grid-padding;
    padding: $grid-padding;
    width: 350px;
    color: $font-alternative-color;
    background-color: $nav-color;
    border-radius: $grid-padding;
}

.side-bar {
    display: flex;
    flex-direction: column;
    margin: $grid-padding;
    padding: $grid-padding;
    width: 200px;
    color: $font-alternative-color;
    background-color: $nav-color;
    border-radius: $grid-padding;
}

.side-bar a {
    margin: 10px;
    text-decoration: none;
}

.side-bar a:hover {
    color: $nav-hover;
}

@media only screen and (max-width: 800px) {
    .landingpage h1 {
        grid-column: span 1;
    }

    .grid-page h1 {
        grid-column: span 1;
    }

    .side-bar {
        display: none;
    }

}