$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #5999F7;
$nav-hover: #7C55FA;
$background-alternative-color: #d3d3d3;
$footer-colour:#5999F7;
$nav-color: #00b8ff;
$footer-height: 5rem;
$symbolsize: 20px;
$symbolpadding: 15px;
$grid-padding: 20px;
$box-colours: #5967F7;
$hr-width:50%;
$hr-height:1px;
//Dark theme variables
$dark-nav:#121C28;
$dark-outline: #122927;
$background-dark-container: #121C29;
$all-body-dark: #121529;
