$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #5999f7;
$nav-hover: #7c55fa;
$background-alternative-color: #d3d3d3;
$footer-colour: #5999f7;
$nav-color: #00b8ff;
$footer-height: 5rem;
$symbolsize: 20px;
$symbolpadding: 15px;
$grid-padding: 20px;
$box-colours: rgb(74, 87, 222);
$intro-design-hierarki-background:rgba(19,22,22,0.75);
$hr-width: 50%;
$hr-height: 1px;
//Dark theme variables
$dark-nav: #121c28;
$dark-outline: #122927;
$background-dark-container: #121c29;
$all-body-dark: #121529;

