{% include 'incl/header.twig' %}

<body>
<div class="navmeny">
    {% include 'incl/nav.twig' %}
    
</div>

 <div class="main" role="main">
    <div class="grid-page-gallery">
        {{ content }}

        
    </div>


    <div class="embed-container">
    <iframe src="https://www.youtube.com/embed/gCwjLPBqpa0" frameborder="0" allowfullscreen></iframe>
    </div>


    
</div">
    {% include 'incl/footer.twig' %}
</body>
</html>