{% include 'incl/header.twig' %}

<body>
<div class="navmeny">
    {% include 'incl/nav.twig' %}
    
</div>

 <div class="main" role="main">
    <div class="grid-page-gallery">
        {{ content }}

        
    </div>


    <div class="embed-container">
    <iframe src="https://www.youtube.com/embed/i93Z7zljQ7I?si=B1bvNp5O5Wa-1pLg" frameborder="0" title="Universe size compare" allowfullscreen></iframe>
    </div>

    
    
</div">
    {% include 'incl/footer.twig' %}
</body>
</html>