{% include 'incl/header.twig' %}

<body>
<div class="navmeny">
    {% include 'incl/nav.twig' %}
    
</div>

    <div class="main" role="main">
    <h1>Vår egen layout från technologies.twig</h1>
        {{ content }}
        
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>

